
a {
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
}

.btn {
  -webkit-transition: color 0.3s, background-color 0.3s, border-color 0.3s;
          transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}



@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}


.navbar-default {
  -webkit-transition: background-color 0.3s, height 0.3s;
          transition: background-color 0.3s, height 0.3s;
}

.navbar-brand {
  -webkit-transition: padding 0.3s;
          transition: padding 0.3s;
}

.navbar-brand img {
  -webkit-transition: height 0.3s;
          transition: height 0.3s;
}

.navbar-nav > li > a {
  -webkit-transition: color 0.3s, background-color 0.3s, padding 0.3s;
          transition: color 0.3s, background-color 0.3s, padding 0.3s;
}


.grid figure img {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: opacity 0.3s, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.grid figure figcaption {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.grid figure figcaption > a {
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
  -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
          transition: transform 0.35s, opacity 0.35s;
}

.grid figure h2 {
  -webkit-transition: -webkit-transform 0.35s, opacity 0.35s;
          transition: transform 0.35s, opacity 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
          transform: translate3d(0, 20px, 0);
}

.grid figure h2::after {
  -webkit-transform: translate3d(0, 40px, 0);
          transform: translate3d(0, 40px, 0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
}

.grid figure p {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
}

.grid figure:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.grid figure:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.grid figure:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.grid figure:hover p {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.grid figure:hover figcaption > a {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.clients-carousel li {
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

