.blesk {
    font-size: 40px;
    margin-left: 0;

    padding: 0 0 0 0;
    text-align: center;
    display: inline;
  }
  .main_title {
    text-align: center;
    color: rgba(255, 255, 255, 0.356);
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: main_title;
    -moz-animation-name: main_title;
    animation-name: main_title;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
    
  }








  @-moz-keyframes main_title {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes main_title {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes main_title {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes main_title {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }